body {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

#yellow {
    background-color: #ffff92;
    order: 1;
    margin-left: 0;
}

#yellow p {
    text-align: center;
}

#red {
    background-color: #ff919c;
    order: 2;
}

#green {
    background-color: #8ffda7;
    order: 3;
}

#green p {
    text-align: center;
}
  
#orange {
    background-color: #ffc788;
    order: 4;   
    flex-grow: 3; 
}
  
#blue {
    background-color: #98d2ff;
    order: 5; 
    margin-right: 0;
}

#blue p {
    text-align: center;
}

section {
    padding: 2em;
    margin: 0 1em;
    flex-grow: 1;
}

ul {
    padding: 0;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-around;
    list-style: none;
  }
  
li {
    background-color: white;
    padding: 20px;
    margin: 1em;
}